.services__items {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 32.8rem));
  grid-auto-rows: 40.7rem;
  justify-content: center;
  gap: 3rem;
}

.service {
  opacity: 0.95;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40.7rem;
}

.services__heading {
  justify-content: space-between;
  margin-top: 2rem;
}

.service__top {
  padding: 2rem;
}

.service__num {
  font-weight: 500;
  font-size: 2.2rem;
  color: var(--color-white);
}

.service__more {
  justify-content: space-between;
  padding: 2rem;
  border-top: 0.15rem solid var(--color-white);
  color: var(--color-white);
  line-height: 2.6rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .services__items {
    margin-top: 3rem;
  }

  .services__heading h1 {
    font-size: 2.4rem;
  }
}
